<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Nurse Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% filteredNurses.forEach(function(n) { %>
        <tr>
          <td><a href="/nurses/details/<%= n._id %>"><%= n.name %></a></td>
          <td><%= n.price %></td>
          <td><a href="/nurses/booking/<%= n._id %>">Quick Book</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>