<%- include('../partials/header') %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Consultation Price</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
    <% let index = 1 %>
    <% filteredNurses.forEach(function(n) { %>
      <% if(user?._id.toString() !== n._id.toString()) { %>
      <tr>
        <th scope="row"><%= index++ %></th>
        <td><%= n.name %></td>
        <td><%= n.price %> BD</td>
        <td><a href="/nurses/details/<%= n._id %>" class="btn btn-outline-primary">Quick Book</a></td>
      </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>