<%- include('../partials/header') %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Consultation Price</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
    <% filteredNurses.forEach(function(n, index) { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= n.name %></td>
      <td><%= n.price %> BD</td>
      <td><a href="/nurses/details/<%= n._id %>">Quick Book</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>