<%- include('../partials/header') %>

<% if(user.role === "Nurse") { %>
    <% nurseBooking.forEach(function(r) { %>
        <% if(user?._id.toString() === r.nurseId.toString()) { %>
            <p><%= r.customerName %></p>
            <p><%= r.customerEmail %></p>
            <p><%= r.nursePrice %></p>
            <p><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
            <p><%= r.bookingTime %></p>
            <p><%= r.bookingNotes %></p>
            <p><%= r.customerHouse %></p>
            <p><%= r.customerBlock %></p>
            <p><%= r.customerRoad %></p>
            <form action="/bookings/<%= r._id %>?_method=PUT" method="POST">
            <input type="hidden" name="status" value="">
            </form>
        <% } %>
    <% }); %>
<% } else if(user.role === 'Customer') { %>
    <% customerBooking.forEach(function(r) { %>
        <% if(user?._id.toString() === r.customerId.toString()) { %>
            <p><%= r.nurseName %></p>
            <p><%= r.nurseEmail %></p>
            <p><%= r.nursePrice %></p>
            <p><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
            <p><%= r.bookingTime %></p>
            <p><%= r.bookingNotes %></p>
        <% } %>
    <% }); %>
<% } %>

<%- include('../partials/footer') %>