<%- include('../partials/header') %>

<% if(user.role === "Nurse") { %>
  <h4>Pending</h4>
  <hr>
    <% if(pendingBooking.length) { %>
        <% pendingBooking.forEach(function(r) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="alert alert-warning d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                        Pending
                    </div>
                    <form>
                        <fieldset disabled>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Customer Name</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerName %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Consultation Price</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.nursePrice %> BD">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Date</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Time</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.bookingTime %>">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Email</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerEmail %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Phone Number</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.phoneNumber %>">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">House Number</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerHouse %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Road Number</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerBlock %>">
                            </div>
                            <div class="col">
                                <label for="nursePrice" class="fw-bold">Block Number</label>
                                <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerRoad %>">
                              </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Notes</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingNotes %>">
                            </div>
                          </div>
                        </fieldset>
                    </form>
                  <form action="/bookings/<%= r._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="nurseId" value="<%= r.nurseId %>">
                    <button type="submit" class="btn btn-success" name="status" value="Approved">Accept</button>
                    <button type="submit" class="btn btn-danger" name="status" value="Declined">Decline</button>
                </form>
                </div>
              </div>
        <% }); %>
    <% } else { %>
        <p>No pending bookings</p>
    <% } %>

  <h4>Approved</h4>
  <hr>
  <% if(approvedBooking.length) { %>
    <% approvedBooking.forEach(function(r) { %>
        <div class="card mb-3">
            <div class="card-body">
                <div class="alert alert-success d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                    Approved
                </div>
                <form>
                    <fieldset disabled>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Customer Name</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerName %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Consultation Price</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.nursePrice %> BD">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Date</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Time</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.bookingTime %>">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Email</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerEmail %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Phone Number</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.phoneNumber %>">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">House Number</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerHouse %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Road Number</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerBlock %>">
                        </div>
                        <div class="col">
                            <label for="nursePrice" class="fw-bold">Block Number</label>
                            <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerRoad %>">
                          </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Notes</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingNotes %>">
                        </div>
                      </div>
                    </fieldset>
                </form>
            </div>
          </div>
    <% }); %>
    <% } else { %>
        <p>No approved bookings</p>
    <% } %>

  <h4>Declined</h4>
  <hr>
  <% if(declinedBooking.length) { %>
    <% declinedBooking.forEach(function(r) { %>
        <div class="card mb-3">
            <div class="card-body">
                <div class="alert alert-danger d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                    Declined
                </div>
                <form>
                    <fieldset disabled>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Customer Name</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerName %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Consultation Price</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.nursePrice %> BD">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Date</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Time</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.bookingTime %>">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Email</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerEmail %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Phone Number</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.phoneNumber %>">
                        </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">House Number</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.customerHouse %>">
                        </div>
                        <div class="col">
                          <label for="nursePrice" class="fw-bold">Road Number</label>
                          <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerBlock %>">
                        </div>
                        <div class="col">
                            <label for="nursePrice" class="fw-bold">Block Number</label>
                            <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.customerRoad %>">
                          </div>
                      </div>
                      <div class="row my-3">
                        <div class="col">
                          <label for="nurseName" class="fw-bold">Notes</label>
                          <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingNotes %>">
                        </div>
                      </div>
                    </fieldset>
                </form>
            </div>
        </div>
    <% }); %>
    <% } else { %>
        <p>No declined bookings</p>
    <% } %>

<% } else if(user.role === 'Customer') { %>

  <h4>My Bookings</h4>
  <hr>
    <% customerBooking.forEach(function(r) { %>
      <% if(user?._id.toString() === r.customerId.toString()) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <% if(r.status === 'Approved') { %>
                    <div class="alert alert-success d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                        <%= r.status %>
                    </div>
                    <% } else if(r.status === 'Pending') { %>
                    <div class="alert alert-warning d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                        <%= r.status %>
                    </div>
                    <% } else if(r.status === 'Declined') { %>
                    <div class="alert alert-danger d-flex align-items-center" style="position: absolute; top: 5px; right: 5px; height: 30px;" role="alert">
                        <%= r.status %>
                    </div>
                    <% } %>
                    <form>
                        <fieldset disabled>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Nurse Name</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.nurseName %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Consultation Price</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.nursePrice %> BD">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Date</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %>">
                            </div>
                            <div class="col">
                              <label for="nursePrice" class="fw-bold">Time</label>
                              <input type="text" id="nursePrice" class="form-control" placeholder="<%= r.bookingTime %>">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Email</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.nurseEmail %>">
                            </div>
                          </div>
                          <div class="row my-3">
                            <div class="col">
                              <label for="nurseName" class="fw-bold">Notes</label>
                              <input type="text" id="nurseName" class="form-control" placeholder="<%= r.bookingNotes %>">
                            </div>
                          </div>
                        </fieldset>
                    </form>
                </div>
            </div>
      <% } %>
    <% }); %>

<% } %>

<%- include('../partials/footer') %>