<%- include('../partials/header') %>

<% if(user.role === "Nurse") { %>
  <h4>Pending</h4>
  <hr>
    <% if(pendingBooking.length) { %>
        <% pendingBooking.forEach(function(r) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="alert alert-warning" style="position: absolute; top: 5px; right: 5px;" role="alert">
                        Pending
                    </div>
                  <h5 class="card-title"><%= r.customerName %></h5>
                  <p class="card-text"><%= r.customerEmail %></p>
                  <p class="card-text"><%= r.nursePrice %></p>
                  <p class="card-text"><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
                  <p class="card-text"><%= r.bookingTime %></p>
                  <p class="card-text"><%= r.bookingNotes %></p>
                  <p class="card-text"><%= r.customerHouse %></p>
                  <p class="card-text"><%= r.customerBlock %></p>
                  <p class="card-text"><%= r.customerRoad %></p>
                  <form action="/bookings/<%= r._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="nurseId" value="<%= r.nurseId %>">
                    <button type="submit" class="btn btn-success" name="status" value="Approved">Accept</button>
                    <button type="submit" class="btn btn-danger" name="status" value="Declined">Decline</button>
                </form>
                </div>
              </div>
        <% }); %>
    <% } else { %>
        <p>No pending bookings</p>
    <% } %>

  <h4>Approved</h4>
  <hr>
  <% if(approvedBooking.length) { %>
    <% approvedBooking.forEach(function(r) { %>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= r.customerName %></h5>
              <p class="card-text"><%= r.customerEmail %></p>
              <p class="card-text"><%= r.nursePrice %></p>
              <p class="card-text"><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
              <p class="card-text"><%= r.bookingTime %></p>
              <p class="card-text"><%= r.bookingNotes %></p>
              <p class="card-text"><%= r.customerHouse %></p>
              <p class="card-text"><%= r.customerBlock %></p>
              <p class="card-text"><%= r.customerRoad %></p>
            </div>
          </div>
    <% }); %>
    <% } else { %>
        <p>No approved bookings</p>
    <% } %>

  <h4>Declined</h4>
  <hr>
  <% if(declinedBooking.length) { %>
    <% declinedBooking.forEach(function(r) { %>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= r.customerName %></h5>
              <p class="card-text"><%= r.customerEmail %></p>
              <p class="card-text"><%= r.nursePrice %></p>
              <p class="card-text"><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
              <p class="card-text"><%= r.bookingTime %></p>
              <p class="card-text"><%= r.bookingNotes %></p>
              <p class="card-text"><%= r.customerHouse %></p>
              <p class="card-text"><%= r.customerBlock %></p>
              <p class="card-text"><%= r.customerRoad %></p>
            </div>
          </div>
    <% }); %>
    <% } else { %>
        <p>No declined bookings</p>
    <% } %>

<% } else if(user.role === 'Customer') { %>

  <h4>My Bookings</h4>
  <hr>
    <% customerBooking.forEach(function(r) { %>
      <% if(user?._id.toString() === r.customerId.toString()) { %>
            <p><%= r.nurseName %></p>
            <p><%= r.nurseEmail %></p>
            <p><%= r.nursePrice %></p>
            <p><%= r.bookingDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' }) %></p>
            <p><%= r.bookingTime %></p>
            <p><%= r.bookingNotes %></p>
      <% } %>
    <% }); %>

<% } %>

<%- include('../partials/footer') %>