<%- include('../partials/header') %>

<% if(user.role === "Nurse") { %>

<section id="show-page">
<div>Nurse Name: </div>
<div><%= user.name %></div>
<div>email Address: </div>
<div><%= user.email %></div>
<div>Qualifications: </div>
<div><%= user.qualifications %></div>
<div>Education: </div>
<div><%= user.education %></div>
<div>Price: </div>
<div>$<%= user.price %></div>

</section>

<% } else if(user.role === 'Customer') { %> 

<section id="show-page">
<div>Nurse Name: </div>
<div><%= user.name %></div>
<div>email Address: </div>
<div><%= user.email %></div>
<div>Phone Number: </div>
<div><%= user.phoneNumber %></div>
<div>House Number: </div>
<div><%= user.address.houseNumber %></div>
<div>Block: </div>
<div><%= user.address.blockNumber %></div>
<div>Road Number: </div>
<div><%= user.address.roadNumber %></div>
</section>
<% } %>
<div><a href="/users/<%= user._id %>/edit">Edit Details</a></div>
<div><form action="/users/<%= user._id %>?_method=DELETE" method="POST">
    <input type="submit" name="" id="" value="Delete account">
</form>
</div>
<%- include('../partials/footer') %>